@use './abstracts/variables' as *;
@use './components//sidebar';
@use './components/header';
@use './components/main';
@use './components/column';
@use './components/task';
@use './components//createboard';
@use './components//addtask';
@use './components/opentask';
@use './components/editboard';
@use './components/deleteboard';

.app {
    display: grid;
    grid-template-areas:
        'sidebar head'
        'sidebar main'
        'sidebar main';
    grid-template-columns: 220px 1fr;
    grid-template-rows: 0.15fr 1fr 1fr;
    width: 100vw;
    min-height: 100vh;
    font-family: $font-family;
    overflow-y: hidden;
}

a {
    text-decoration: none;
}

.visible {
    display: flex;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
}