@use '../abstracts/variables' as *;

.column {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 1rem;
    width: 240px;

    &__status {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0rem;
       padding-bottom: 1rem;
       background-color: $charcoal;

        span {
            font-size: 0.6rem;
            margin-right: 0.4rem;
        }

        div {
            font-size: 0.65rem;
            line-height: $height-heading-sm;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            color: $gray-slate;
        }
    }
}

#bullet-column-0 {
    color: lightskyblue;
}

#bullet-column-1 {
    color: $purple-dark;
}

#bullet-column-2 {
    color: lightgreen;
}

#bullet-column-3 {
    color: #FAB285;
}

#bullet-column-4 {
    color: #C4C75F;
}

#bullet-column-5 {
    color: #EE90EE;
}

.dragover {
  background-color: rgba(0, 1, 18, 0.1);
}