@use '../abstracts/variables' as *;

.main {
    position: relative;
    grid-area: main;
    background-color: $charcoal;
    padding-bottom: 1rem;

    &__content {
        display: flex;
        flex-direction: row;
    }

    &__add-column {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 3rem 0 0.5rem 1rem;
        background-color: rgba(0, 1, 18, 0.1);
        min-height: 100vh;
        width: 230px;

        div {
            color: $gray-slate;
            font-size: 1rem;
            margin-top: 18rem;
            cursor: pointer;

            img {
                margin-right: 0.4rem;
            }
        }
    }
}